
                <div id="page-title">

<h3>
    Nueva Institución
    <small>
         se agregan los datos de las Instituciones
    </small>
</h3>
                   
</div><!-- #page-title -->
<%= render 'form' %>
<br/>
<%= link_to 'Volver', institutions_path %>
