<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @institution.nombre %>
</p>

<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
