
<div id="page-title">

<h3>
    Editar Localidad
    <small>
         Se editan los datos de las Localidades a Visitar
    </small>
</h3>
        
</div><!-- #page-title -->

<%= render 'form' %>
<br/>
<%= link_to 'Mostrar', @locality %> |
<%= link_to 'Volver', localities_path %>
