
<div id="page-title">

<h3>
    Nueva Localidad
    <small>
         Se agregan los datos de las Localidades a Visitar
    </small>
</h3>
                   
</div><!-- #page-title -->


<%= render 'form' %>
<br/>
<%= link_to 'Volver', localities_path %>
