                <div id="page-title">

<h3>
    Nueva Ayuda
    <small>
         Se agregan los datos de las Ayudas
    </small>
</h3>
                   
</div><!-- #page-title -->

<%= render 'form' %>
<br/>
<%= link_to 'Volver', ayudas_path %>
