  <div class="form-row">
                <div class="form-label col-md-2">
                    <label for="">Conclusiones </label>
                </div>
                <div class="form-input col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                          <%= f.input :solicitud , collection: Ayuda.all.pluck("nombre"), as: :select %>

                        </div>
                        <div class="col-md-3">
                          Estado de solicitud <%= f.input :estado, collection: ['Requerida','En Estudio', 'No requerida'], label: false,  prompt: 'Seleccione el Estado'%>
                        </div>
                        <div class="col-md-3">
                          Fecha de solicitud <%= f.input :fecha ,as: :date,start_year: Date.today.year - 0,
                              end_year: Date.today.year - 0, discard_day: false,
                              order: [:day,:month, :year] , label: false%>
                        </div>


                    </div>
                </div>
            </div>




  

      <div class="col-md-6">
        <%= link_to_remove_association "Remover conclusion", f%>
      </div>
