
<%= simple_form_for @persona, :html=> { class: 'form-horizontal' }  do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% @persona.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


            <div class="form-row">
                <div class="form-label col-md-2">
                    <label for="">Nombres y Apellidos </label>
                </div>
                <div class="form-input col-md-10">
                    <div class="row">
                        <div class="col-md-2">
                            <%= f.input :nombre1,label: false, :placeholder=>"Primer Nombre"%>
                        </div>
                        <div class="col-md-2">
                            <%= f.input :nombre2,label: false, :placeholder=>"Segundo Nombre" %>
                        </div>
                        <div class="col-md-2">
                            <%= f.input :apellido1,label: false, :placeholder=>"Primer Apellido" %>
                        </div>
                        <div class="col-md-2">
                            <%= f.input :apellido2,label: false, :placeholder=>"Segundo Apellido" %>
                        </div>


                    </div>
                </div>
            </div>



            <div class="form-row">
                <div class="form-label col-md-2">
                    <label for="">Cedula de Identidad </label>
                </div>
                <div class="form-input col-md-4">
                    <div class="row">
                        <div class="col-md-4">
                            <%= f.input :cedula,label: false, :placeholder=>"Cedula de Identidad" %>
                        </div>


                    </div>
                </div>
            </div>


            <div class="form-row">
                <div class="form-label col-md-2">
                    <label for="">Municipio, Sector  </label>
                </div>
                <div class="form-input col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                            <%= f.input :municipio,label: false, :placeholder=>"Municipio", collection: ['Arismendi','Mariño','Maneiro','Garcia','Gomez','Villalba', 'Antolin del Campo','Tubores','Diaz','Marcano', 'Peninsula de Macanao'], label: false,  prompt: "Seleccione un Municipio"%>
                        </div>
                        <div class="col-md-3">
                            <%= f.input :parroquia,label: false, :placeholder=>"Sector" %>
                        </div>


                    </div>
                </div>
            </div>





    <div class="form-row">
                <div class="form-label col-md-2">
                    <label for="">Dirección, Referencia  </label>
                </div>
                <div class="form-input col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                            <%= f.input :direccion,label: false, :placeholder=>"Direccion" %>
                        </div>
                        <div class="col-md-3">
                            <%= f.input :referencia,label: false, :placeholder=>"Punto de Referencia" %>
                        </div>

                    </div>
                </div>
            </div>


   <div class="form-row">
                <div class="form-label col-md-2">
                    <label for="">Telefonos  </label>
                </div>
                <div class="form-input col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                            <%= f.input :telefono1,label: false, :placeholder=>"Telefono principal" %>
                        </div>
                        <div class="col-md-3">
                            <%= f.input :telefono2,label: false, :placeholder=>"Otro telf" %>
                        </div>

                    </div>
                </div>
            </div>

<h2>Familiares</h2>
<div id="families">
         

    <%= f.simple_fields_for :families do |family|%>
        <%= render 'family_fields', f: family%>
    <% end %>

    <div class= ".link">
    <%= link_to_add_association 'Agregar familiar', f, :families %>
    </div>

</div>





<h2>Estudio Socio Economico</h2>
    <%= f.simple_fields_for :economy do |economy| %>
           <!-- <div class="form-row">
                <div class="form-label col-md-2">
                    <label for="">Informacion Laboral </label>
                </div>
                <div class="form-input col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                            Nombre de la empresa u Oficio<%#= economy.input :empresa ,label: false, :placeholder=>"Nombre de la Empresa u Oficio" %>
                        </div>
                        <div class="col-md-3">
                            Sector <%#= economy.input :sector, collection: ['Publico','Privado'], label: false, :placeholder=>"Sector", prompt: "Seleccione un sector"%>
                        </div>
                        <div class="col-md-3">
                           Ingreso Familiar <%#= economy.input :ingreso_familiar ,label: false, :placeholder=>"Ingreso Familiar en Bs." %>
                        </div>


                    </div>
                </div>
            </div>


            <div class="form-row">
                <div class="form-label col-md-2">
                    <label for="">Informacion de la Vivienda </label>
                </div>
                <div class="form-input col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                            Tipo de vivienda<%#= economy.input :tipo_casa, collection: ['Propia','Alquilada','Refugio Temporal'] ,label: false, prompt: "Tipo de Casa" %>
                        </div>
                        <div class="col-md-3">
                          Condiciones de la Vivienda <%#= economy.input :condiciones_de_vivienda, collection: ['Excelente','Buena','Regular','Mala'], label: false, :placeholder=>"Condiciones de la vivienda", prompt: "Seleccione una condicion"%>
                        </div>
                        <div class="col-md-3">
                            Personas/hab<%#= economy.input :persona_hab,collection: ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16'] ,label: false, :placeholder=>"Personas/Hab." , prompt: 'Personas por hab.'%>
                        </div>


                    </div>
                </div>
            </div>

-->
          <div class="form-row">
                <div class="form-label col-md-2">
                    <label for="">Datos Socioeconomicos </label>
                </div>
                <div class="form-input col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                          Cantidad de Hijos<%= economy.input :cant_hijos,collection: ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16'] ,label: false, :placeholder=>"Cant. de hijos" , prompt: 'Cant. de Hijos'%>

                        </div>
                        <!-- 
                        <div class="col-md-3">
                          Enceres Compartidos <%#= economy.input :enceres_compartidos, collection: ['si','no'],as: :radio_buttons, label: false, :placeholder=>"Enceres compartidos"%>
                        </div>-->
                        <div class="col-md-3">
                          Adultos Mayores<%= economy.input :adultos_mayores, collection: ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16']  ,label: false, prompt: "Adultos Mayores" %>

                        </div>


                    </div>
                </div>
            </div>



       <div class="form-row">
                <div class="form-label col-md-2">
                    <label for="">Condiciones de salud </label>
                </div>
                <div class="form-input col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                          Cant. de discapacitados<%= economy.input :discapacitados ,collection: ['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16'] ,label: false, :placeholder=>"Personas con discapacidad" , prompt: 'Personas con discapacidad'%>

                        </div>
                       <!-- <div class="col-md-3">
                          Personas Enfermas <%#= economy.input :enfermos, collection: ['si','no'],as: :radio_buttons, label: false%>
                        </div>
                        -->

                    </div>
                </div>
            </div>


 <!--       <div class="form-row">
                <div class="form-label col-md-2">
                    <label for="">Descripción de la Visita </label>
                </div>
                <div class="form-input col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                          Descripcion<%#= economy.input :descripcion ,label: false, :placeholder=>"Descripcion de la Visita" , prompt: 'Descripcion'%>

                        </div>
                        <div class="col-md-3">
                          Pobreza Extrema <%#= economy.input :pobreza_extrema, collection: [['Si', true], ['No',false]],as: :radio_buttons, label: false %>



                        </div>


                    </div>
                </div>
            </div>
-->

    <% end %>
<hr />
<h2>Conclusiones</h2>
<div id="conclusions">
         

    <%= f.simple_fields_for :conclusions do |conclusion|%>
        <%= render 'conclusion_fields', f: conclusion%>
    <% end %>

    <div class= ".link">
    <%= link_to_add_association 'Agregar Ayudas', f, :conclusions %>
    </div>

</div>


<br />


<hr />
  <div class="btn primary-bg medium">
    <%= f.button :submit  %>
  </div>
<% end %>
