                <div id="page-title">

<h3>
    Editar Persona
    <small>
         se editan los datos de las personas y solicitudes
    </small>
</h3>
                 
</div><!-- #page-title -->
<%= render 'form' %>
<br/>
<%= link_to 'Mostrar', @persona %> |
<%= link_to 'Volver', personas_path %>
