<a href="#" onclick="window.print();return false;">Imprimir</a> 

<center><h3>Listado de Ayudas Corazon Adentro</h3></center>
<br />
<br />
<small>
<table class="table table-striped">
	<thead>
			<th>#</th>
			<th>Nombre</th>
			<th>Cedula</th>
			<th>Municipio</th>
			<th>Telefono</th>
			<th>Descripcion</th>
			<th>Ayuda</th>
			
	</thead>
<tbody>
	<% @i=0 %>
<% if !@resultado.blank? %>
  <% for item in @resultado %>
  <% if !item.nombre1.blank?%>
	<tr>
	    <td><%=@i=@i+1%></td>
		<td><%=item.nombre1.capitalize+' '+item.apellido1.capitalize%></td>
		<td><%=item.cedula%></td>
		<td><%=item.municipio%></td>
		<td><%=item.telefono1 %></td>
		<td><%=item.economy.descripcion%></td>

		<% if !item.conclusions.blank? %>
		<td>
		  <% for item in item.conclusions %>
		    		<%= item.solicitud %>  <%#= "- #{item.estado}"  if !item.estado.blank? %> <br />
		  <% end %>
    	</td>
		<% end -%>

	</tr>
   <% end -%>
 <% end %>
 <% end -%>

  

</tbody>




</table>



</small>
