                <div id="page-title">

<h3>
    Nueva Persona
    <small>
         se agregan los datos de las personas y solicitudes.      <b>   Los campos con (*) son obligatorios</b>
    </small>
</h3>

</div><!-- #page-title -->

<%= render 'form' %>
<br/>
<%= link_to 'Volver', personas_path %>
