<br/>
<%= notice %>
<h4 class="heading-1 clearfix">
    <i class="glyph-icon icon-tags heading-icon"></i>
    <div class="heading-content">
       <%=  @persona.nombre1.capitalize+' '+@persona.nombre2.capitalize+' '+@persona.apellido1.capitalize+' '+@persona.apellido2.capitalize%>.
        <small>
        <strong>Cedula de Identidad:</strong> <%= @persona.cedula %><br />
        <strong>Direccion: </strong><%= @persona.direccion.capitalize %>,  <%= @persona.referencia.capitalize %>;  Parroquia <%= @persona.parroquia.capitalize %>, Municipio <%= @persona.municipio.capitalize %>.<br />
        <strong>Telefonos :</strong><%= @persona.telefono1 %>   <%= @persona.telefono2 %>



        </small>
    </div>
</h4>


<div class="divider"></div>
<h4 class="heading-1 clearfix">
Familiares
<small>
<% if !@persona.families.blank?%>
      <% for item in @persona.families %>
        <li>    <%= "<strong> - </strong>#{item.nombre.capitalize} #{item.apellido.capitalize}, #{item.parentesco}".html_safe if !item.nombre.blank? %></li>

    <% end %>
<% end -%>
</small>

<div class="divider"></div>
<h4 class="heading-1 clearfix">
Estudio Socioeconomico
<small><%= "<strong>Empresa donde trabaja ó Ocupacion: #{@persona.economy.empresa}</strong>".html_safe if !@persona.economy.empresa.blank?  %> 
<%="(#{@persona.economy.sector} )" if !@persona.economy.sector.blank? %>
<%="<strong>Ingreso Familiar: </strong> #{@persona.economy.ingreso_familiar}Bs".html_safe if  !@persona.economy.ingreso_familiar.blank? %><br />

<%= "<strong>Tipo de Vivienda: </strong> #{@persona.economy.tipo_casa}".html_safe  if !@persona.economy.tipo_casa.blank?%>
<%= "<strong>Condiciones:  </strong>#{@persona.economy.condiciones_de_vivienda}".html_safe  if !@persona.economy.condiciones_de_vivienda.blank? %>
<%= "<strong>Personas/Hab: </strong> #{ @persona.economy.persona_hab}".html_safe if !@persona.economy.persona_hab.blank?%><br />


<%= "<strong>Cantidade de Hijos: </strong> #{@persona.economy.cant_hijos}".html_safe if !@persona.economy.cant_hijos.blank? %>
<%= "<strong>Enceres Compartidos: </strong>#{@persona.economy.enceres_compartidos}".html_safe if !@persona.economy.enceres_compartidos.blank? %>
<%= "<strong>Adultos Mayores: </strong> #{@persona.economy.adultos_mayores}".html_safe if !@persona.economy.adultos_mayores.blank? %>
<br />
<%= "<strong>Personas Discapacitadas: </strong>#{@persona.economy.discapacitados}".html_safe if !@persona.economy.discapacitados.blank? %>
<%= "<strong>Personas Enfermas : </strong>#{@persona.economy.enfermos}".html_safe if !@persona.economy.enfermos.blank? %>


</small>
</h4>


<div class="divider"></div>
<h4 class="heading-1 clearfix">
Descripcion de la visita

<small>

<%= "<strong>Personas Enfermas : </strong>#{@persona.economy.descripcion}".html_safe if !@persona.economy.descripcion.blank? %>
<%= "<strong>Personas Enfermas : </strong>#{@persona.economy.pobreza_extrema}".html_safe if !@persona.economy.pobreza_extrema.blank? %>

</small>
</h4>

<div class="divider"></div>

<h4 class="heading-1 clearfix">
Conclusión(es)
<small>
<% if !@persona.conclusions.blank? %>
  <% for item in @persona.conclusions %>
  <li>    <%= "<strong>Solicitud : </strong>#{item.solicitud}".html_safe if !item.solicitud.blank? %>
          <%= "<strong>Estado de la solicitud : </strong>#{item.estado}".html_safe if !item.estado.blank? %>
          <%= "<strong>Fecha de la solicitud : </strong>#{item.fecha}".html_safe if !item.fecha.blank? %>
  </li>
  <div class="divider"></div>

  <% end %>
  
<% end %>



</small>
</h4>

<%= link_to 'Editar', edit_persona_path(@persona) %> |
<%= link_to 'Volver', personas_path %>
