<h1>ARISMENDI</h1>
<table class="table table-stripe">
<%= @total_municipio.inspect %>



 <tr> <td>Becas Estudiantes</td> <td><%#= @arismendi_total_becas_e    %></td></tr>
 <tr> <td>Becas Universitarias</td> <td><%#= @arismendi_total_becas_u    %></td></tr>
 <tr> <td>Ayudas Discapacidad</td> <td><%#= @arismendi_total_discapacidad    %></td></tr>
 <tr> <td>Operaciones</td> <td><%#= @arismendi_total_operacion    %></td></tr>
 <tr> <td>Estudios especializados</td> <td><%#= @arismendi_total_estudio_especializado    %></td></tr>
 <tr> <td>Medicinas</td> <td><%#= @arismendi_total_medicinas    %></td></tr>
 <tr> <td>Silla de Ruedas</td> <td><%#= @arismendi_total_silla_ruedas   %></td></tr>
 <tr> <td>Andadera</td> <td><%#= @arismendi_total_andadera    %></td></tr>
 <tr> <td>Baston</td> <td><%#= @arismendi_total_baston    %></td></tr>
 <tr> <td>Botas Ortopedicas</td> <td><%#= @arismendi_total_botas_ortopedicas    %></td></tr>
 <tr> <td>Cama </td> <td><%#= @arismendi_total_cama    %></td></tr>
 <tr> <td>Cama Clinica</td> <td><%#= @arismendi_total_cama_clinica    %></td></tr>
 <tr> <td>Colchon</td> <td><%#= @arismendi_total_colchon    %></td></tr>
 <tr> <td>Colchon Clinico</td> <td><%#= @arismendi_total_colchon_clinico    %></td></tr>
 <tr> <td>Colchon Antiescaras</td> <td><%#= @arismendi_total_colchon_anti    %></td></tr>
 <tr> <td>Lavadora</td> <td><%#= @arismendi_total_lavadora   %></td></tr>
 <tr> <td>Cocina</td> <td><%#= @arismendi_total_cocina   %></td></tr>
 <tr> <td>Nevera</td> <td><%#= @arismendi_total_nevera    %></td></tr>
 <tr> <td>Freezer</td> <td><%#= @arismendi_total_freezer    %></td></tr>
 <tr> <td>Hijos de Vzla</td> <td><%#= @arismendi_total_hijos_vzla    %></td></tr>
 <tr> <td>Amor Mayor</td> <td><%#= @arismendi_total_amor_mayor    %></td></tr>
 <tr> <td>Vivienda</td> <td><%#= @arismendi_total_vivienda    %></td></tr>
 <tr> <td>Kit de material de construccion</td> <td><%#= @arismendi_total_kit_construccion    %></td></tr>
 <tr> <td>Techo</td> <td><%#= @arismendi_total_techo    %></td></tr>
 <tr> <td>Tanque</td> <td><%#= @arismendi_total_tanque    %></td></tr>
 <tr> <td>Maquina de Coser</td> <td><%#= @arismendi_total_maquina_coser    %></td></tr>
 <tr> <td>Uniformes</td> <td><%#= @arismendi_total_uniforme    %></td></tr>
 <tr> <td> Kit deportivo</td> <td><%#= @arismendi_total_kitdeportivo   %></td></tr>
 <tr> <td>Pasajes</td> <td><%#= @arismendi_total_pasaje    %></td></tr>
</table>


