<h4>Totales por categoria</h4>

<table class="table table-striped">
<tr>
<td><strong>Becas de Educacion: </strong> </td><td><%= @beca_educacion %></td>
</tr>

<tr>
	<td><strong>Becas Universitarias: </strong></td><td><%= @beca_universitaria %>
</td>
</tr>
<tr>
	<td><strong>Ayudas Economicas a Discapacitados:  </strong></td><td><%= @econ_Discapacidad %>
</td>
</tr>
<tr>
	<td><strong>Ayudas para Operacion: </strong></td><td><%= @operacion %>
</td>
</tr>
<tr>
	<td><strong>Estudio Especializado: </strong></td><td><%= @estudio_especializado %>
</td>
</tr>
<tr>
	<td><strong>Medicinas: </strong></td><td><%= @medicinas %>
</td>
</tr>
<tr>
	<td><strong>Sillas de Ruedas: </strong></td><td><%= @silla_de_ruedas %>
</td>
</tr>
<tr>
	<td><strong>Andaderas: </strong></td><td><%= @andadera %>
</td>
</tr>
<tr>
	<td><strong>Bastones: </strong></td><td><%= @baston %>
</td>
</tr>
<tr>
	<td><strong>Botas Ortopedicas: </strong></td><td><%= @botas_ortopedicas %>
</td>
</tr>
<tr>
	<td><strong>Protesis: </strong></td><td><%= @protesis %>
</td>
</tr>
<tr>
	<td><strong>Camas: </strong></td><td><%= @cama %>
</td>
</tr>
<tr>
	<td><strong>Camas Clinica: </strong></td><td><%= @cama_clinica %></td>
</tr>
<tr>
	<td><strong>Colchones: </strong></td><td><%= @colchon %>
</td>
</tr>
<tr>
	<td><strong>Colchones Clinicos: </strong></td><td><%= @colchon_clinico %>
</td>
</tr>
<tr>
	<td><strong>Colchones Antiescara: </strong></td><td><%= @colchon_antiescaras %></td>
</tr>

<tr>
	<td><strong>Lavadoras: </strong></td><td><%= @lavadora %></td>
</tr>
<tr>
	<td><strong>Cocinas: </strong></td><td><%= @cocina %></td>
</tr>
<tr>
	<td><strong>Neveras: </strong></td><td><%= @nevera %></td>
</tr>
<tr>
	<td><strong>Freezer: </strong></td><td><%= @freezer %></td>
</tr>
<tr>
	<td><strong>Hijos de Venezuela: </strong></td><td> <%= @hijos_de_vzla %></td>
</tr>
<tr>
	<td><strong>Amor Mayor: </strong></td><td><%= @amor_mayor %></td>
</tr>
<tr>
	<td><strong>Viviendas: </strong></td><td> <%= @vivienda %></td>
</tr>
<tr>
	<td><strong>Kit de Construccion: </strong></td><td><%= @kit_construccion %>
</td>
</tr>
<tr>
	<td><strong>Techos: </strong></td><td><%= @techo %></td>
</tr>


<tr>
	<td><strong>Tanques: </strong></td><td><%= @tanque %></td>
</tr>
<tr>
	<td><strong>Maquinas de Coser: </strong></td><td><%= @maquina_coser %>
</td>
</tr>
<tr>
	<td><strong>Uniformes: </strong></td><td><%= @uniformes %></td>
</tr>
<tr>
	<td><strong>Kit deportivos: </strong></td><td><%= @kit_deportivo %></td>
</tr>
<tr>
	<td><strong>Pasajes: </strong></td><td><%= @pasajes %>
</td>
</tr>
<tr>
	<td><b>TOTAL AYUDAS SOLICITADAS</b> </td><td><%=@totales %></td>
</tr>
<tr>
	<td></td><td></td>
</tr>












</table>